@-moz-document url(chrome://browser/content/browser.xhtml)
{
  /* https://superuser.com/questions/1608096/how-to-inspect-firefoxs-ui */
  /* https://twitter.com/myfonj/status/1387584962354982912 */
  /* https://www.reddit.com/r/firefox/comments/j9agb3/disable_the_fullscreen_animation_in_firefox_80/ga9xbet/?utm_source=reddit&utm_medium=web2x&context=3 */

  #navigator-toolbox[fullscreenShouldAnimate] {
    /* transetion: none !important; */
  }

  /*
   * native vertical tabs
   */

  #tabbrowser-arrowscrollbox {
    /* https://stackoverflow.com/questions/16670931/hide-scroll-bar-but-while-still-being-able-to-scroll/38994837#38994837 */
    scrollbar-width: none;
  }

  #tabbrowser-tabs[haspinnedtabs]:not([positionpinnedtabs])
    > #tabbrowser-arrowscrollbox
    > .tabbrowser-tab:nth-child(1 of :not([pinned], [hidden])) {
    margin-inline-start: 0 !important;
  }

  #tabbrowser-tabs[haspinnedtabs]:not([positionpinnedtabs])
    > #tabbrowser-arrowscrollbox
    > .tabbrowser-tab:nth-last-child(1 of [pinned]) {
    border-bottom: 1px solid #999 !important;
  }

  .wrapper {
    padding-inline-start: 0 !important;
  }

  /* https://support.mozilla.org/en-US/questions/1341555 */
  /* Hide the mute/unmute button */
  .tab-icon-overlay:not([pinned], [sharing], [crashed]):is(
      [soundplaying],
      [muted]
    ) {
    display: none !important;
  }

  /* make tab play icon unclickable */
  /* https://www.reddit.com/r/firefox/comments/3v4hrl/comment/cxk8smy/ */
  .tabbrowser-tab :is(.tab-icon-sound, .tab-icon-overlay) {
    pointer-events: none !important;
    opacity: 0.5 !important;
  }

  /* make selected tab in vertical tabs more visible */
  #TabsToolbar #firefox-view-button[open] > .toolbarbutton-icon,
  .tab-background:is([selected], [multiselected]) {
    box-shadow: 0 0 6px rgb(0, 0, 255) !important;
  }
}
