@-moz-document url(chrome://browser/content/browser.xhtml)
{
  /* https://superuser.com/questions/1608096/how-to-inspect-firefoxs-ui */
  /* https://twitter.com/myfonj/status/1387584962354982912 */
  /* https://www.reddit.com/r/firefox/comments/j9agb3/disable_the_fullscreen_animation_in_firefox_80/ga9xbet/?utm_source=reddit&utm_medium=web2x&context=3 */

  #navigator-toolbox[fullscreenShouldAnimate] {
    /* transetion: none !important; */
  }

  /*
   * native vertical tabs
   */

  #tabbrowser-arrowscrollbox {
    /* https://stackoverflow.com/questions/16670931/hide-scroll-bar-but-while-still-being-able-to-scroll/38994837#38994837 */
    scrollbar-width: none;
  }

  #tabbrowser-tabs[haspinnedtabs]:not([positionpinnedtabs])
    > #tabbrowser-arrowscrollbox
    > .tabbrowser-tab:nth-child(1 of :not([pinned], [hidden])) {
    margin-inline-start: 0 !important;
  }

  #tabbrowser-tabs[haspinnedtabs]:not([positionpinnedtabs])
    > #tabbrowser-arrowscrollbox
    > .tabbrowser-tab:nth-last-child(1 of [pinned]) {
    border-bottom: 1px solid #999 !important;
  }

  .wrapper {
    padding-inline-start: 0 !important;
  }

  /* https://support.mozilla.org/en-US/questions/1341555 */
  /* Hide the mute/unmute button */
  .tab-icon-overlay:not([pinned], [sharing], [crashed]):is(
      [soundplaying],
      [muted]
    ) {
    display: none !important;
  }

  /* make tab play icon unclickable */
  /* https://www.reddit.com/r/firefox/comments/3v4hrl/comment/cxk8smy/ */
  .tabbrowser-tab :is(.tab-icon-sound, .tab-icon-overlay) {
    pointer-events: none !important;
    opacity: 0.5 !important;
  }

  /* make selected tab in vertical tabs more visible */
  #TabsToolbar #firefox-view-button[open] > .toolbarbutton-icon,
  .tab-background:is([selected], [multiselected]) {
    box-shadow: 0 0 6px rgb(0, 0, 255) !important;
  }

  /* Source file https://github.com/MrOtherGuy/firefox-csshacks/tree/master/chrome/hide_tabs_toolbar.css made available under Mozilla Public License v. 2.0
See the above repository for updates as well as full license text. */

  /* Hides tabs toolbar */
  /* For OSX use hide_tabs_toolbar_osx.css instead */

  /* Note, if you have either native titlebar or menubar enabled, then you don't really need this style.
 * In those cases you can just use: #TabsToolbar{ visibility: collapse !important }
 */

  /* IMPORTANT */
  /*
Get window_control_placeholder_support.css
Window controls will be all wrong without it
*/

  :root[tabsintitlebar] {
    --uc-toolbar-height: 40px;
  }
  :root[tabsintitlebar][uidensity="compact"] {
    --uc-toolbar-height: 32px;
  }
  #titlebar {
    will-change: unset !important;
    transition: none !important;
    opacity: 1 !important;
  }
  #TabsToolbar {
    visibility: collapse !important;
  }
  :root[sizemode="fullscreen"] #titlebar {
    position: relative;
  }

  :root[sizemode="fullscreen"] #TabsToolbar > .titlebar-buttonbox-container {
    visibility: visible !important;
    z-index: 2;
  }

  :root:not([inFullscreen]) #nav-bar {
    margin-top: calc(0px - var(--uc-toolbar-height, 0px));
  }

  :root[tabsintitlebar] #toolbar-menubar[autohide="true"] {
    min-height: unset !important;
    height: var(--uc-toolbar-height, 0px) !important;
    position: relative;
  }

  #toolbar-menubar[autohide="false"] {
    margin-bottom: var(--uc-toolbar-height, 0px);
  }

  :root[tabsintitlebar] #toolbar-menubar[autohide="true"] #main-menubar {
    flex-grow: 1;
    align-items: stretch;
    background-attachment: scroll, fixed, fixed;
    background-position:
      0 0,
      var(--lwt-background-alignment),
      right top;
    background-repeat: repeat-x, var(--lwt-background-tiling), no-repeat;
    background-size:
      auto 100%,
      var(--lwt-background-size, auto auto),
      auto auto;
    padding-right: 20px;
  }
  :root[tabsintitlebar]
    #toolbar-menubar[autohide="true"]:not([inactive])
    #main-menubar {
    background-color: var(--lwt-accent-color);
    background-image:
      linear-gradient(
        var(--toolbar-bgcolor, --toolbar-non-lwt-bgcolor),
        var(--toolbar-bgcolor, --toolbar-non-lwt-bgcolor)
      ),
      var(--lwt-additional-images, none), var(--lwt-header-image, none);
    mask-image: linear-gradient(to left, transparent, black 20px);
  }

  #toolbar-menubar:not([inactive]) {
    z-index: 2;
  }
  #toolbar-menubar[autohide="true"][inactive] > #menubar-items {
    opacity: 0;
    pointer-events: none;
    margin-left: var(--uc-window-drag-space-pre, 0px);
  }

  /* https://dev.to/semanticdata/unlock-the-sidebar-width-in-firefox-22p0 */

  #sidebar-box {
    max-width: 40% !important;
    min-width: 200px !important;
    width: 200px !important;
  }
}
