[alias]
	ci = commit
	#co = checkout
	# https://www.banterly.net/2021/07/31/new-in-git-switch-and-restore/
	# git checkout -b new_branch == git switch -c new_branch
	# git checkout -f == git restore .
  # or maybe
  # git restore :/
  # restore file like checkout
  # git re --source=origin/master --worktree -- path/to/file
	sw = switch
	re = restore
	br = branch
	brc = rev-parse --abbrev-ref HEAD
	# Provide string with spaces. Replace spaces with underscores. Change branch name to this new string.
	# https://stackoverflow.com/questions/1706431/the-easiest-way-to-replace-white-spaces-with-underscores-in-bash/1706449#1706449
	st = status -sb
	cine = commit -a --amend --no-edit
	sshow = "!f() { git stash show stash^{/$*} -p; }; f"
	sapply = "!f() { git stash apply stash^{/$*}; }; f"
	fap = "!git fetch --all --prune && git fetch -f . origin/master:master"
	f = "!git fetch --all --prune && git fetch -f . origin/master:master"
	rom = rebase origin/master
	puoh = push -u origin HEAD
	newp = "!git fetch -p --all && git checkout -b new origin/development"
	fpa = fetch -p --all
	bsa = branch --sort=-authordate
	bs = bisect
	# https://stackoverflow.com/questions/43489971/how-to-suppress-the-editor-for-git-rebase-continue
	grc = "!GIT_EDITOR=true git rebase --continue"
	garc = "!git add -A && GIT_EDITOR=true git rebase --continue"
	# https://stackoverflow.com/questions/5113425/how-to-make-git-log-show-all-of-todays-commits/5178739#5178739
	# https://stackoverflow.com/questions/4479225/how-to-output-git-log-with-the-first-line-only/51997006#51997006
	# https://stackoverflow.com/questions/4259996/how-can-i-view-a-git-log-of-just-one-users-commits/40743795#40743795
	standup = "!git log --pretty=format:%s --since=6am --author=$(git config user.email)"
	standupa = "!git log --pretty=format:%s --author=$(git config user.email)"
	brprune = "!git fetch -p --all && LC_ALL=C git branch -vv | awk '/: gone]/{print $1}' | xargs -r git branch -d"
	brprunef = "!git fetch -p --all && LC_ALL=C git branch -vv | awk '/: gone]/{print $1}' | xargs -r git branch -D"
	# https://stackoverflow.com/questions/1057564/pretty-git-branch-graphs
	lg1 = log --graph --abbrev-commit --decorate --format=format:'%C(bold blue)%h%C(reset) - %C(bold green)(%ar)%C(reset) %C(white)%s%C(reset) %C(dim white)- %an%C(reset)%C(bold yellow)%d%C(reset)' --all
	lg2 = log --graph --abbrev-commit --decorate --format=format:'%C(bold blue)%h%C(reset) - %C(bold cyan)%aD%C(reset) %C(bold green)(%ar)%C(reset)%C(bold yellow)%d%C(reset)%n''          %C(white)%s%C(reset) %C(dim white)- %an%C(reset)' --all
	lg3 = log --graph --abbrev-commit --decorate --all
	lg4 = log --graph --abbrev-commit --decorate --all --oneline
	lg5 = log --graph --abbrev-commit --decorate --format=format:'%C(bold blue)%h%C(reset) - %C(bold green)(%ar)%C(reset) %C(white)%s%C(reset) %C(dim white)- %an%C(reset)%C(bold yellow)%d%C(reset)' --all
	lg6 = log --graph --date-order --date=short --pretty=format:'%C(auto)%h%d %C(reset)%s %C(bold blue)%ce %C(reset)%C(green)%cr (%cd)' --decorate --all
	lg7 = log --graph --date=short --pretty=format:'%C(auto)%h%d %C(reset)%s %C(bold blue)%ce %C(reset)%C(green)%cr (%cd)' --decorate --all
	lg8 = log --graph --date=short --pretty=format:'%C(auto)%h%d %C(reset)%s %C(bold blue)%an %C(reset)%C(green)%ar (%ad)' --decorate --all
	lg9 = log --graph --date-order --date=iso-local --pretty=format:'%C(auto)%h%d %C(reset)%s (A %C(bold blue)%an%C(reset)) %C(reset)(T %C(green)%ar %C(reset)%ad)' --decorate --all
	lg10 = log --graph --date-order --date=iso-local --pretty=format:'%C(auto)%h%d %C(reset)%s (%C(bold blue)%an%C(reset)) %C(reset)(%C(green)%ar %C(reset)%ad)' --decorate --all
	lg11 = log --graph --date-order --date=iso-local --pretty=format:'%C(auto)%h%d %C(reset)%s %C(bold blue)%an%C(reset)%C(reset)  %C(green)%ar %C(reset)%ad' --decorate --all
	# https://stackoverflow.com/questions/1057564/pretty-git-branch-graphs/22875140#22875140
	lgi = log --graph --decorate --date=iso-local --color --format='%C(auto)%h %d %<|(110,trunc) %s %<(16,trunc) %an %ad' --all
	lgdi = log --graph --decorate --date=iso-local --color --format='%C(auto)%h %d %<|(110,trunc) %s %<(16,trunc) %an %ad' --all --date-order
	lgr = log --graph --decorate --date=relative --color --format='%C(auto)%h %d %<|(110,trunc) %s %<(16,trunc) %an %ad' --all
	lgdr = log --graph --decorate --date=relative --color --format='%C(auto)%h %d %<|(110,trunc) %s %<(16,trunc) %an %ad' --all --date-order
	lg = !"git lgr"
[core]
	excludesfile = ~/.global_gitignore
	commitGraph = true
	autocrlf = false
#[pager]
#    # cargo install diffr
#    log  = diffr --colors refine-removed:background:200,0,0:foreground:white:bold | less -R
#    show = diffr --colors refine-removed:background:200,0,0:foreground:white:bold | less -R
#    diff = diffr --colors refine-removed:background:200,0,0:foreground:white:bold | less -R
#[interactive]
#    diffFilter = diffr --colors refine-removed:background:200,0,0:foreground:white:bold
[user]
	email = rofrol@gmail.com
	name = Roman Frołow
#[pull]
#	ff = only
	# despite the name, this is used for any merge, not just git pull
	# https://github.blog/2021-08-16-highlights-from-git-2-33/
  #twohead = ort
[credential]
	helper = manager-core
[gui]
	# https://stackoverflow.com/questions/23151339/set-utf-8-display-for-git-gui-differences-window/24320398#24320398
	encoding = utf-8
[init]
	defaultBranch = main

[include]
	path = .gitconfig_local

; include for all repositories inside $HOME/projects/
[includeIf "gitdir/i:~/projects/"]
	path = ~/projects/.gitconfig
[pull]
	ff = only
