[alias]
	ci = commit
	co = checkout
	br = branch
	st = status -sb
	cine = commit -a --amend --no-edit
        sshow = "!f() { git stash show stash^{/$*} -p; }; f"
        sapply = "!f() { git stash apply stash^{/$*}; }; f"
	fap = "!git fetch --all --prune && git fetch -f . origin/master:master"
	rom = rebase origin/master
	puoh = push -u origin HEAD
	ffomm = fetch -f . origin/master:master
	bsa = branch --sort=-authordate
	brprune = "!git fetch -p --all && LC_ALL=C git branch -vv | awk '/: gone]/{print $1}' | xargs -r git branch -d"
	brprunef = "!git fetch -p --all && LC_ALL=C git branch -vv | awk '/: gone]/{print $1}' | xargs -r git branch -D"
[user]
	email = rofrol@gmail.com
	name = Roman Frołow
[core]
	excludesfile = ~/.global_gitignore
	commitGraph = true
[winUpdater]
	recentlySeenVersion = 2.19.0.windows.1
